<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> {% load static %}
    <link rel="stylesheet" href="{% static 'panel/style.css' %}"> {% load static %}
    <script type="text/javascript" charset="utf-8" src="{% static 'panel/play.js' %}">
    </script>
</head>

<body>
    <header>
        <h3>&nbsp;alarm bot</h3>
    </header>
    <nav>
        <menu>
            <li id="ret">
                <div class="active">menu</div>
            </li>
            {% if is_auth %}
            <li id="ret" onclick=view()>
                <div>check camera</div>
            </li>
            <li id="ret" onclick=config()>
                <div>config alarm</div>
            </li>
            <li id="ret" onclick=getalarm()>
                <div>check alarm</div>
            </li>
            <li id="ret" onclick=config()>
                <div>config alarm</div>
            </li>
            <li id="ret" onclick=camera()>
                <div>config camera</div>
            </li>
            {% endif %}
        </menu>

        {% if is_auth %}
        <div id="white">welcome, the {{username}}!</div>
        <form action="/panel/login/" method="get">
            <input type="submit" value="logout">
        </form>
        {% else %}
        <form action="/panel/login/" method="post">
            {% csrf_token %} {{ form }}
            <input type="submit" value="Login">
        </form>
        {% endif %}

    </nav>
    <section>
        <div id="alarm"></div>
        {% block video %}
        <img id="view" style="-webkit-user-select: none;" src={{host_live}}>
        {% endblock video %}
        <div id="page">
            {% block page %} {% endblock page %}
        </div>
    </section>
    <footer>
        Copyright (c) 2018 Sule
    </footer>
</body>

</html>
